* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    position: relative;
}

.w {
    width: 980px;
    margin: 0 auto;
}

div p {
    float: right;
    line-height: 59px;
}

div a {
    text-decoration: none;
    color: #ff9c00;
}

.nav {
    background-color: #ff9c00;
}

div ul li {
    display: inline-block;
    list-style: none;
    width: 190px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #9c5132;
}

li:hover {
    background-color: lightpink;
}

.list {
    width: 100%;
    height: 200px;
    background-color: #e7bf80;
    padding-top: 50px;
}

.banner img {
    vertical-align: bottom;
    width: 100%;
}

.div1 {
    width: 146px;
    height: 146px;
    display: inline-block;
    background-image: url(images/list1.png);
    background-repeat: no-repeat;
    float: left;
    margin: 0 25px;
    padding-top: 100px;
    text-align: center;
    color: #9c5132;
    position: relative;
}

.mask {
    width: 146px;
    height: 146px;
    border-radius: 50%;
    background-color: gray;
    background-image: url(images/fdj.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.div1:hover .mask,
.div2:hover .mask,
.div3:hover .mask,
.div4:hover .mask,
.div5:hover .mask {
    display: block;
}

.div2 {
    width: 146px;
    height: 146px;
    display: inline-block;
    background-image: url(images/list2.png);
    background-repeat: no-repeat;
    float: left;
    margin: 0 25px;
    padding-top: 100px;
    text-align: center;
    color: #9c5132;
    position: relative;
}

.div3 {
    width: 146px;
    height: 146px;
    display: inline-block;
    background-image: url(images/list3.png);
    background-repeat: no-repeat;
    float: left;
    margin: 0 25px;
    padding-top: 100px;
    text-align: center;
    color: #9c5132;
    position: relative;
}

.div4 {
    width: 146px;
    height: 146px;
    display: inline-block;
    background-image: url(images/list4.png);
    background-repeat: no-repeat;
    float: left;
    margin: 0 25px;
    padding-top: 100px;
    text-align: center;
    color: #9c5132;
    position: relative;
}

.div5 {
    width: 146px;
    height: 146px;
    display: inline-block;
    background-image: url(images/list5.png);
    background-repeat: no-repeat;
    float: left;
    margin: 0 25px;
    padding-top: 100px;
    text-align: center;
    color: #9c5132;
    position: relative;
}

.content {
    width: 100%;
    height: 700px;
    background-color: #f8f5bc;
}

.con {
    display: inline-block;
    width: 178px;
    height: 240px;
    border: 1px solid lightgrey;
    background-color: white;
    padding: 10px;
    margin: 20px;
    transition: 0.5s;
    position: relative;
}

div .con1 img {
    width: 60px;
    height: 54px;
}

.con1 {
    position: absolute;
    top: 0;
    left: 0;
}

div .con2 img {
    width: 33px;
    height: 37px;
}

.con2 {
    position: absolute;
    top: 0;
    left: 0;
}

div .con8 img {
    width: 42px;
    height: 46px;
}

.con8 {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

div .con:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 20px 3px grey;
}

.content1 {
    line-height: 30px;
    color: #9c5132;
}

.content img {
    width: 180px;
    height: 140px;
}

.content2 {
    color: #fd8187;
}

.footer {
    height: 121px;
    background-image: url(images/footer.png);
    line-height: 121px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.p1 {
    position: fixed;
    bottom: 20%;
    right: 5%;
}

.p1:hover {
    width: 228px;
    height: 427px;
    background-image: url(images/erweima.png);
    background-repeat: no-repeat;
    background-position: center;
}
